/* styles/Stories.module.css */
.storiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 10px; /* Add some padding for mobile layout */
  }
  
  .storyIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap; /* Allow icons to wrap to the next line on small screens */
  }
  
  .storyViewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.3); /* Transparent background */
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff; /* White color for the 'X' */
    border: 2px solid rgba(255, 255, 255, 0.6); /* Semi-transparent border */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, border 0.3s;
  }
  
  .closeButton:hover {
    background: rgba(255, 255, 255, 0.5); /* Slightly less transparent on hover */
    border: 2px solid rgba(255, 255, 255, 0.8); /* Less transparent border on hover */
  }
  